.ProductSize {
  width: 100%;
  .sizeButton {
    background: transparent;
    border: none;
    color: black;
    font-size: 1.1rem;
    font-weight: normal !important;
    text-transform: none !important;
    width: calc(100% / 4);
    // max-width: 40px;
    // margin-right: 5px;
    &:hover, &:focus {
      background-color: black !important;
      color: white !important;
    }
    &:not(:disabled):not(:disabled):active:focus {
      box-shadow:0 0 0 0.2rem #7180e0b4 !important;
    }
  }
  .selected {
    background-color: black !important;
    color: white !important;
  }
  .unselected {
    color: rgba(0, 0, 0, 0.541);
  }
}
