.ProductWrapper {
  margin: 0px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.Product__title {
  font-size: 3.3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  color: black;
}
.Product__price {
  font-size: 2.1rem;
  margin-bottom: 0.4rem;
  color: black;
}
.ProductOption {
  width: 100%;
  margin-bottom: 10px;
  color: black;
  input {
    width: 30px;
    padding-left: 1%;
    margin-left: 1%;
  }
}
.Product__quantity {
  width: 15%;
  margin-bottom: 10px;
  color: black;
}
.ProductBuy {
  border-radius: 20px;
  color: black;
  font-size: 1.3rem;
  padding: 10px 25px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #FF2C21;
  }
}
.ProductBuy.button {
  background-color: white;
}
.ProductBuy.itemPage{
  background-color: black;
  font-size: 1rem;
  padding: 10px 22px;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 100%;
}
.sideBar {
  font-family: 'Oxygen Mono', monospace;
  text-align: right;
  text-transform: uppercase;
}
.name {
  font-size: 8rem;
  line-height: 80%;
  margin: 40px auto 0;
}
.underName {
  font-size: 1.2rem;
}
.menu {
  font-size: 1.8rem;
  a {
    color: black;
  }
}
.selected {
  font-weight: bold;
}
.cart_button {
  // background-color: transparent
  // border: none
  color: black;
  font-size: 2.5rem;
}
.spacer {
  height: 10rem;
}

.itemSections {
  margin: 3rem 0;
  font-family: 'Oxygen Mono', monospace;
  h1 {
    margin: 3rem 2% ;
  }
}